.env
.env.*
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
storage/phpmetrics
storage/phpmd
build
.phpunit.cache
.git
.gitignore
.phpactor.json
.phpunit.result.cache
*.log
